.window-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 96px);
  gap: 20px;
}
.action-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.search-wrapper {
  min-width: 300px;
  display: flex;
  gap: 10px;
  background: #fff;
  border-radius: 30px;
  padding: 12px 15px;
  border-radius: 30px;
  border: 1px solid var(--light-grey, #f0f0f0);
}

.search-icon {
  width: 16px;
  height: 16px;
}
.search-input {
  border-radius: 20px;
  border: 1px solid #f0f0f0;
  outline: none;
  color: var(--light-grey-text, var(--light-grey-text, #787878));
  font-family: 'Lato';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.add-client-btn {
  cursor: pointer;
  display: flex;
  padding: 12px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: var(--primary-v2, #0c4fad);
}
.add-client-btn p {
  color: var(--white-text, #fff);
  font-family: 'Lato';
  font-size: var(--Text-Font-size-Body-text---2, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 767px) {
  .window-content {
    gap: 16px;
  }
  .add-client-btn p {
    font-size: 14px;
  }
  .search-wrapper {
    min-width: 227px;
  }
}
